.btn {
  width: 25px;
  height: 25px;
  position: relative;
}

.btn span {
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #000;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #000;
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #000;
}
