@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

.app-container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  @apply inline-block transition-[opacity] delay-[30ms] hover:opacity-70;
}

.form-btn {
  @apply flex w-full justify-center rounded-md bg-indigo-600 mb-5 px-3 py-1.5 text-lg font-semibold leading-6 text-white shadow-sm transition delay-[30ms] hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 active:outline-black dark:focus-visible:outline-white;
}

.form {
  @apply bg-white rounded-lg shadow-sm dark:bg-bg-light-dark max-w-[500px] mx-[auto] p-5;
}

.my-page__form {
  max-width: 50% !important;
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.page-subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.dropzone {
  height: 300px;
  width: 300px;
  border: 4px dashed black;
}

.ql-editor {
  min-height: 200px;
}

/* Blog Select */
.blogpost__control,
.blogpost__menu {
  @apply dark:bg-item-bg-dark;
}

.blogpost__control--menu-is-open .blogpost__dropdown-indicator,
.blogpost__control--is-focused .blogpost__dropdown-indicator {
  @apply !text-item-gray;
}

.blogpost__input {
  @apply dark:!text-white;
}

.blogpost__indicator {
  @apply cursor-pointer;
}

.blogpost__clear-indicator {
  @apply hover:!text-red-700;
}

.blogpost__single-value {
  @apply leading-8 dark:text-white;
}

.blogpost__option {
  @apply dark:hover:bg-item-bg-dark_hover;
}

.blogpost__option--is-focused,
.blogpost__option--is-selected {
  @apply dark:bg-item-bg-dark_x2;
}

.blogpost__option--is-selected {
  @apply dark:hover:bg-item-bg-dark_x2_hover;
}

.blogpost__option--is-selected {
  @apply font-medium;
}
